{% load static %}

.height{
    min-height:500px;
    padding-bottom:30px;

}

*[role="form"] {
    max-width: 630px;
	max-height:790px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

body, html{
    height: 100%;
 	background-repeat: no-repeat;
 	background: #fff;
 	font-family: 'Oxygen', sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;tr:nth-child(even) {
  }
