{% extends 'members/base.html' %}
{% load static %}
{% block title %}Password Confirmation{% endblock %}
{% block stylesheet %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}    <!-- Preloader -->
 {% block content %}
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="loginform" method="POST">
                    {% csrf_token %}
                    {% if validlink %}

                    {% csrf_token %}

                    <center><h3 class="box-title m-b-20">Password Reset</h3></center>
                    <hr>
                    <center>
                    <div class="form-group ">
                        <p>Enter New Password!</p>
                        <div class="col-xs-12">
                             {{ form.new_password1 }}
                    </div>
                    </div>
                    </center>

                    <center>
                    <div class="form-group ">
                        <p>Confirm New Password!</p>
                        <div class="col-xs-12">
                             {{ form.new_password2 }}
                    </div>
                    </div>
                    </center>

                        <hr>

                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enter</button>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                        </div>
                    </div>
                </form>
                {% else %}
                <center>
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
                    </center>
              {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
