{% extends 'members/base.html' %}
{% load static %}
{% block title %}Event{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event-display.css' %}">
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}
{% block content %}
<br><br><br>
 <div class="container">
 <div class="table-responsive">


<center>
<br><br><br><br><br><br><br><br><br>
  <h2>Training Requests</h2>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% if training %}
 <table class="table-hover ">
    <thead>
      <tr>
	   <tr class="active">
        <th width="20%" >Name</th>
          <th width="20%" >Contact No</th>
          <th width="20%" >Age</th>
          <th width="20%" >Batch</th>
          <th width="20%" >Roll No</th>
          <th width="20%" >Section</th>
        <th width="40%" >Type</th>
      </tr>
    </thead>
     {% for train in training %}
    <tbody>
    <tr>
        <td>{{train.name}}</td>
        <td>{{train.contactno}}</td>
        <td>{{train.age}}</td>
        <td>{{train.batch}}</td>
        <td>{{train.roll_number}}</td>
        <td>{{train.section}}</td>
        <td>{{train.type}}</td>
      </tr>
	</tbody>
     {% endfor %}
</table>
{% endif %}
</center>
  </div>
  </div>

<br><br><br>
<br><br><br>
{% endblock %}